<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osmdroid.sample">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DirectGridActivity"/>
        <activity android:name=".GridFragmentActivity"/>
        <activity android:name=".OffLineMapActivity"/>
        <activity android:name=".PointFragmentActivity"/>
        <activity android:name=".PointActivity"/>
        <activity android:name=".LineActivity"/>
        <activity android:name=".PolygonActivity"/>
        <activity android:name=".BasicMapTestActivity"/>
        <activity android:name=".BasicMapTestActivity2"/>
        <activity android:name=".BasicMapTestActivity3"/>
        <activity android:name=".BasicMapTestActivity4"/>
    </application>

</manifest>